body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}



h4{
  text-align: center;
}

.image{
    margin-top: auto;
    background-color: white;
    margin: 13px;
    margin-left: 980px;
}

.footer-dark {
  padding:10px 0;
  top: 100px;
  margin-top:2000px;
  color:#f0f9ff;
  background-color:black;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}



.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}






.column {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 33.1%;
	margin: auto;
	text-align: center;
	font-family: arial;
	position: absolute;
	top: 408px;
	right: 10px;
  left: 420px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.card1{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 32.7%;
	margin: auto;
	text-align: center;
	font-family: arial;
	position: absolute;
	top: 408px;
	left: 434px;
 
}	

.card2{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 32.2%;
	margin: auto;
	text-align: center;
	font-family: arial;
	position: absolute;
	top: 408px;
	
  left:5px;
}	

.card3{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 33.0%;
	margin: auto;
	text-align: center;
	font-family: arial;
	position: absolute;
	top: 408px;
	right: 500px;
  left: 865px;
}	


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 10%;
  margin-right:px;
}

.button2{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 20%;
  margin-right:px;
}

.button3{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 20%;
  margin-right:px;
}

.button:hover {
  background-color:#555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
  
  }
}

.image{
  background-color: transparent;
  height:20px;
width: 30px;
}

.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}




.image1{
  width: 10px;
padding: 8px 0;
height:300px;
width: 300px;
margin: auto;
position: absolute;
left: 50px;

}

img {
  height: 120%;
  width: 120%;
  object-fit: contain;
}

.image2{
  width: 100px;
margin: auto;
padding: 8px 0;
height:300px;
width: 300px;
top: 720px;
right: 515px;
position: absolute;
}

.image3{
  width: 100px;
margin: auto;
padding: 8px 0;
height:300px;
width: 300px;
top: 720px;
left: 855px;
position: absolute;
}

.image4{
  width: 100px;
margin: auto;
padding: 8px 0;
height:300px;
width: 300px;
top: 1050px;
right: 360px;
position: absolute;
}

.image5{
  width: 100px;
margin: auto;
padding: 8px 0;
height:300px;
width: 300px;
position: absolute;
top: 1000px;
right: 700px;
}

.features{
  position: absolute;
  top: 1410px;
}

.pics{
  width: 100px;
  margin: auto;
  padding: 8px 0;
  height:300px;
  width: 300px;
  top: 50px;
  left:478px;
  position: absolute;
  
}

.img2{
  width: 100px;
  margin: auto;
  padding: 8px 0;
  height:220px;
  width: 370px;
  top: 100px;
  left: 20px;
  position: absolute;
}

.img3{
  width: 100px;
  margin: auto;
  padding: 8px 0;
  height:300px;
  width: 300px;
  top: 45px;
  left: 875px;
  position: absolute;
}

.img4{
  width: 100px;
  margin: auto;
  padding: 8px 0;
  height:284px;
  width: 284px;
  top: 400px;
  left: 59px;
  position: absolute;
}

.img5{
  width: 100px;
  margin: auto;
  padding: 8px 0;
  height:300px;
  width: 300px;
  top: 390px;
  left: 875px;
  position: absolute;
}

.img6{
 width: 100px;
 margin: auto;
 padding: 8px 0;
 height:220px;
 width: 370px;
 top: 443px;
 left:420px;
 position: absolute;
}

.img7{
  width: 100px;
  margin: auto;
  padding: 8px 0;
  height:220px;
  width: 370px;
  top: 790px;
  left:220px;
  position: absolute;
}

.img8{
  width: 100px;
  margin: auto;
  padding: 8px 0;
  height:220px;
  width: 370px;
  top: 790px;
  left:650px;
  position: absolute;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.snap{
  position: absolute;
  margin: auto;
  width: 33.3%;
  height: 33.3%;
  bottom: 5px;
  right: 800px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container-- {
  border-radius: 5px;
  background-color:#ccc;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.error-icon,
.error-text {
	display: none;

}
html {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}
#intro {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(0, 100%, 74%);
	padding: 100px 0;
}
.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	padding: 0 30px;
	max-width: 1300px;
	margin: 0 auto;
}
.left-col {
	flex: 1;
	margin-bottom: 50px;
}
.left-col h1 {
	color: white;
	font-size: 2.5rem;
	line-height: 3rem;
	margin-bottom: 2rem;
}
.left-col p {
	color: white;
	font-size: 1.3rem;
	line-height: 1.9rem;
	/* max-width: 500px; */
}
.right-col {
	flex: 1;
}
.right-col .top-card {
	background-color: hsl(248, 32%, 49%);
	color: white;
	padding: 15px 90px;
	/* border-bottom: 5px solid hsla(249, 10%, 26%, 0.466); */
	border-radius: 15px;
	box-shadow: 0 7px hsla(249, 10%, 26%, 0.404);
	margin-bottom: 30px;
}
.right-col .top-card p {
	font-size: 1.3rem;
	line-height: 2.2rem;
}
.right-col .top-card p span {
	font-weight: 700;
}
.right-col .form-container {
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 8px hsla(249, 10%, 26%, 0.404);
}
.field-group {
	position: relative;
	margin-bottom: 25px;
}
.right-col label {
	display: none;
}
.right-col input,
.right-col button[type = submit] {
	width: 100%;
	height: 60px;
	margin-bottom: 5px;
	border-radius: 10px;
	border: 1.3px solid hsl(246, 25%, 77%);
	padding-left: 20px;
	outline: none;
	color: hsl(249, 10%, 26%);
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	font-weight: 600;
}
.right-col input:focus {
	border: 1.5px solid hsl(249, 10%, 26%);
}
.right-col input::placeholder {
	color: hsla(249, 10%, 26%, 0.678);
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	font-weight: 600;
}
.right-col button[type = submit] {
	cursor: pointer;
	background-color: hsl(154, 59%, 51%);
	box-shadow: 0px 4px hsl(154, 56%, 44%);
	color: white;
	font-weight: 500;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 0;
	border: none;
}
.right-col button[type = submit]:hover {
	background-color: hsl(154, 73%, 65%);
}
.right-col .form-footer {
	margin-top: 10px;
	color: hsl(246, 25%, 77%);
}
.right-col .form-footer span {
	color: hsl(0, 100%, 74%);
	font-weight: 700;
}
.error-text {
	text-align: right;
	bottom: 0;
	right: 0;
	font-size: .8rem;
	font-style: italic;
	color: hsl(0, 100%, 74%);
	font-weight: 500;
}
.error-icon {
	position: absolute;
	top: 0;
	left: 210px;
	top: 35%;
  width: 30px;
}
.field-group.error .error-text,
.field-group.error .error-icon {
	display: block;
}
.field-group.error input {
	border: 2px solid hsl(0, 100%, 74%);
}
@media only screen and (min-width: 1000px) {
	#intro {
		background-image: url(./images/bg-intro-desktop.png);
	}
	.container {
		flex-direction: row;
	}
	.left-col {
		text-align: left;
		padding-right: 50px;
	}
	.left-col h1 {
		font-size: 3rem;
		line-height: 3.5rem;
	}
	.left-col p {
		font-size: 1.1rem;
	}
	.right-col {
		max-width: 500px;
	}
	.right-col .top-card p {
		font-size: 1.1rem;
	}
	.right-col .top-card {
		padding: 20px;
	}
	.right-col .form-container {
		padding: 40px;
	}
	.right-col input::placeholder,
	.right-col input {
		font-size: 1.05rem;
		height: 60px;
	}
	.right-col .form-footer {
		margin-top: 20px;
		font-size: .7rem;
	}
}
